html, body {
    margin: 0;
    padding: 0;
}

#flex {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    padding: 13px;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    background-color: rgba(6, 14, 31, 0.7);
}

body {
    background-image: url(images/zed-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.content {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.header {
    color: white;
    background-color: rgba(6, 14, 31, 1);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

.footer {
    color: white;
    background-color: rgba(6, 14, 31, 1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

.pics {
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    width: 1100px;
}

img {
    float: left;
}

.text {
    float: none;
    text-align: left;
    margin-top: 0;
}

.skin-underline {
    text-decoration-line: underline;
    text-decoration-color: white;
}

.box {
    position: absolute;
    top: 235px;
    left: 150px;
    width: 180px;
    height: auto;
    padding-left: 10px;
    border: 3px solid;
    border-radius: 10px;
    background-color: rgba(6, 14, 31, 1);
}

.box-1 {
    position: absolute;
    top: 3470px;
    left: 450px;
    width: 200px;
    height: auto;
    padding-left: 10px;
    border: 3px solid;
    border-radius: 10px;
    background-color: rgba(6, 14, 31, 1);
    pointer-events: none;
}

.box-text {
    color: white;
}

.list {
    position: relative;
    margin: auto;
    background-color: rgba(6, 14, 31, 0.7);
    list-style-position: inside;
    color: white;
    margin-left: 760px;
    margin-right: 760px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 25px;
    padding-right: 5px;
    white-space: nowrap;
}

.tier-list {
    color: white;
    background-color: rgba(6, 14, 31, 1);
    margin-left: 700px;
    margin-right: 700px;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.circle {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:active { text-decoration: none; color:white }

a { color: inherit; }


